{
  "openapi": "3.1.0",
  "info": {
    "title": "Perplexity AI API",
    "description": "Perplexity AI API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.perplexity.ai",
      "description": "Perplexity AI API"
    }
  ],
  "paths": {
    "/v1/sonar": {
      "post": {
        "summary": "Create Chat Completion",
        "description": "Generate a chat completion response for the given conversation.",
        "operationId": "chat_completions_chat_completions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiChatCompletionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Search the Web",
        "operationId": "search_search_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Search the web and retrieve relevant web page contents."
      }
    },
    "/v1/embeddings": {
      "post": {
        "summary": "Create Embeddings",
        "description": "Generate embeddings for a list of texts. Use these embeddings for semantic search, clustering, and other machine learning applications.",
        "operationId": "embeddings_v1_embeddings_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contextualizedembeddings": {
      "post": {
        "summary": "Create Contextualized Embeddings",
        "description": "Generate contextualized embeddings for document chunks. Chunks from the same document share context awareness, improving retrieval quality for document-based applications.",
        "operationId": "contextualized_embeddings_v1_contextualizedembeddings_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextualizedEmbeddingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextualizedEmbeddingsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/sonar/{api_request}": {
      "get": {
        "summary": "Get Async Chat Completion",
        "description": "Retrieve the response for a given asynchronous chat completion request.",
        "operationId": "get_async_chat_completion_response_async_chat_completions__api_request__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "api_request",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Api Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncApiChatCompletionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/sonar": {
      "get": {
        "summary": "List Async Chat Completions",
        "description": "Retrieve a list of all asynchronous chat completion requests for a given user.",
        "operationId": "list_async_chat_completions_async_chat_completions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAsyncApiChatCompletionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Async Chat Completion",
        "description": "Submit an asynchronous chat completion request.",
        "operationId": "create_async_chat_completions_async_chat_completions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncApiChatCompletionsRequest"
              },
              "example": {
                "request": {
                  "model": "sonar-deep-research",
                  "messages": [
                    {
                      "role": "<string>",
                      "content": "<string>"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncApiChatCompletionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent": {
      "post": {
        "description": "Generate a response for the provided input with optional web search and reasoning.",
        "operationId": "createAgent",
        "summary": "Create Agent Response",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStreamEvent"
                }
              }
            },
            "description": "Successful response. Content type depends on `stream` parameter:\n- `stream: false` (default): `application/json` with Response\n- `stream: true`: `text/event-stream` with SSE events\n"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "summary": "List Models",
        "description": "List the models available for the Agent API. Returns model identifiers that can be used with the `POST /v1/agent` endpoint. The response follows the OpenAI List Models format for compatibility with third-party tools.",
        "operationId": "listModels",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response with the list of available models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "anthropic/claude-opus-4-8",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-sonnet-5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-sonnet-4-6",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "openai/gpt-5.5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "google/gemini-3.1-flash-lite",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.1-flash-lite-preview",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.5-flash",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "xai/grok-4.3",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.20-reasoning",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.20-non-reasoning",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.20-multi-agent",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "perplexity/glm-5.2",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    },
                    {
                      "id": "perplexity/kimi-k2.7-code",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    },
                    {
                      "id": "perplexity/sonar",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/computer/usage": {
      "get": {
        "summary": "Computer Usage Analytics",
        "description": "Returns your organization's Computer usage analytics as a bucketed time series for a single dataset. Requires an organization analytics API key, generated by an org admin from Settings → Organization → Computer in the Perplexity web app. Only complete UTC grid buckets are returned: start_time snaps down to its bucket, and the in-progress bucket is never included.",
        "operationId": "getComputerUsageAnalytics",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "The dataset to query.",
            "schema": {
              "type": "string",
              "enum": [
                "credit_usage",
                "connectors",
                "artifacts",
                "skills",
                "spaces",
                "workflows",
                "task_durations"
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "Window start in unix seconds (UTC), inclusive. Snapped down to the bucket grid, so the first bucket can include usage from before this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Window end in unix seconds (UTC), exclusive. Defaults to now; future values are capped at now. The window may span at most 90 days.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "bucket_width",
            "in": "query",
            "required": false,
            "description": "Bucket size. Buckets align to the UTC grid.",
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "1h"
              ],
              "default": "1d"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Buckets per page. 1d: default 7, max 31. 1h: default 24, max 168.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response's next_page. Valid only with the same query parameters it was issued for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_email",
            "in": "query",
            "required": false,
            "description": "Restrict results to a single member of your organization. Emails that don't match a current member return a generic 400.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucketed usage for the requested window. Buckets without data carry count 0; the analytics store syncs periodically, so a zero in a recent bucket can mean the data hasn't synced yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerUsageResponse"
                },
                "example": {
                  "categories": [
                    "Model",
                    "Credit Source"
                  ],
                  "data": [
                    {
                      "start_time": 1746057600,
                      "end_time": 1746144000,
                      "count": 350,
                      "by_categories": {
                        "Model": [
                          {
                            "category": "claude-opus-4-8",
                            "count": 210
                          },
                          {
                            "category": "claude-sonnet-4-6",
                            "count": 120
                          }
                        ],
                        "Credit Source": [
                          {
                            "category": "paid",
                            "count": 250
                          },
                          {
                            "category": "promo",
                            "count": 80
                          }
                        ]
                      }
                    }
                  ],
                  "has_more": false,
                  "next_page": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (type: bad_request) or semantically invalid request (type: invalid_request) — e.g. start_time after end_time, a window over 90 days, a misused pagination cursor, or a user_email that doesn't match a member of the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "start_time must be before end_time.",
                    "type": "invalid_request",
                    "code": 400
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (type: unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The Computer Analytics API is not enabled for this organization (type: feature_disabled).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (type: request_rate_limit_exceeded). Limits apply per organization across all of its keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiChatCompletionsRequest": {
        "properties": {
          "max_tokens": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 128000,
                "exclusiveMinimum": 0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Tokens",
            "description": "Maximum number of completion tokens to generate"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model to use, for example, sonar-pro",
            "enum": [
              "sonar",
              "sonar-pro",
              "sonar-deep-research",
              "sonar-reasoning-pro"
            ]
          },
          "stream": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stream",
            "description": "If true, returns streaming SSE response",
            "default": false
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop",
            "description": "Stop sequences. Generation stops when one of these strings is produced"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 2
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature",
            "description": "Controls randomness in the response. Higher values make output more random. Range: 0-2"
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P",
            "description": "Nucleus sampling parameter. Controls diversity via nucleus sampling"
          },
          "response_format": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResponseFormatText"
              },
              {
                "$ref": "#/components/schemas/ResponseFormatJSONSchema"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format",
            "description": "Optional. Controls the output format. Omit for default text output. Set `type` to `json_schema` for structured output.",
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "text": "#/components/schemas/ResponseFormatText",
                "json_schema": "#/components/schemas/ResponseFormatJSONSchema"
              }
            }
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage-Input"
            },
            "type": "array",
            "title": "Messages",
            "description": "Array of messages forming the conversation history"
          },
          "web_search_options": {
            "$ref": "#/components/schemas/WebSearchOptions"
          },
          "search_mode": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "web",
                  "academic",
                  "sec"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Mode",
            "description": "Source of search results (web, academic, or sec)"
          },
          "return_images": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return Images",
            "description": "When true, include image results in the response"
          },
          "return_related_questions": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return Related Questions",
            "description": "When true, generates suggested follow-up queries based on the search results"
          },
          "enable_search_classifier": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enable Search Classifier",
            "description": "When true, uses a classifier to determine if web search is needed for the query"
          },
          "disable_search": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Disable Search",
            "description": "When true, disables all web search capabilities. The model responds based solely on its training data"
          },
          "search_domain_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Domain Filter",
            "description": "Limit search results to specific domains (e.g. github.com, wikipedia.org)"
          },
          "search_language_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Language Filter",
            "description": "Filter results by language using ISO 639-1 codes (e.g. en, fr, de)"
          },
          "search_recency_filter": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "hour",
                  "day",
                  "week",
                  "month",
                  "year"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Recency Filter",
            "description": "Filter by publication recency (hour, day, week, month, or year)"
          },
          "search_after_date_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search After Date Filter",
            "description": "Return results published after this date (MM/DD/YYYY)"
          },
          "search_before_date_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Before Date Filter",
            "description": "Return results published before this date (MM/DD/YYYY)"
          },
          "last_updated_before_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated Before Filter",
            "description": "Return results last updated before this date (MM/DD/YYYY)"
          },
          "last_updated_after_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated After Filter",
            "description": "Return results last updated after this date (MM/DD/YYYY)"
          },
          "image_format_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Format Filter",
            "description": "Filter image results by format (e.g. png, jpg)"
          },
          "image_domain_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Domain Filter",
            "description": "Limit image results to specific domains"
          },
          "stream_mode": {
            "type": "string",
            "enum": [
              "full",
              "concise"
            ],
            "title": "Stream Mode",
            "description": "Controls the format of streaming events. 'full' suppresses reasoning events and includes metadata inline; 'concise' emits reasoning events separately",
            "default": "full"
          },
          "reasoning_effort": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "minimal",
                  "low",
                  "medium",
                  "high"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Effort",
            "description": "Controls how much effort the model spends on reasoning"
          },
          "language_preference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language Preference",
            "description": "ISO 639-1 language code for preferred response language"
          }
        },
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "title": "ApiChatCompletionsRequest"
      },
      "ApiPublicSearchResult": {
        "description": "A single search result from the web",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Title of the search result page"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "URL of the search result page"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Publication date of the result"
          },
          "last_updated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated",
            "description": "Date the result was last updated"
          },
          "snippet": {
            "type": "string",
            "title": "Snippet",
            "description": "Text snippet from the search result",
            "default": ""
          },
          "source": {
            "type": "string",
            "enum": [
              "web",
              "attachment"
            ],
            "title": "Source",
            "description": "Source type of the result (web or attachment)",
            "default": "web"
          }
        },
        "type": "object",
        "required": [
          "title",
          "url"
        ],
        "title": "ApiPublicSearchResult"
      },
      "ImageResult": {
        "properties": {
          "image_url": {
            "type": "string",
            "title": "Image Url",
            "description": "URL of the image"
          },
          "origin_url": {
            "type": "string",
            "title": "Origin Url",
            "description": "Original URL where the image was found"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Title or description of the image"
          },
          "width": {
            "type": "integer",
            "title": "Width",
            "description": "Width of the image in pixels"
          },
          "height": {
            "type": "integer",
            "title": "Height",
            "description": "Height of the image in pixels"
          }
        },
        "type": "object",
        "required": [
          "image_url",
          "origin_url",
          "title",
          "width",
          "height"
        ],
        "title": "ImageResult"
      },
      "ApiSearchPage": {
        "description": "A single page from search results",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Title of the page"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "URL of the page"
          },
          "snippet": {
            "type": "string",
            "title": "Snippet",
            "description": "Content snippet extracted from the page"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Publication date of the page"
          },
          "last_updated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated",
            "description": "Date the page was last updated"
          }
        },
        "type": "object",
        "required": [
          "title",
          "url",
          "snippet"
        ],
        "title": "ApiSearchPage"
      },
      "ApiSearchRequest": {
        "allOf": [
          {
            "properties": {
              "country": {
                "description": "ISO 3166-1 alpha-2 country code",
                "maxLength": 2,
                "minLength": 2,
                "type": "string"
              },
              "max_results": {
                "default": 10,
                "description": "Maximum number of results to return",
                "maximum": 20,
                "minimum": 1,
                "type": "integer"
              },
              "search_context_size": {
                "description": "Controls how much content is extracted from result pages.\n\n- `low` — short passages most relevant to the query.\n- `medium` — a balanced amount of content per document.\n- `high` (default) — detailed content relevant to the query.\n\nOmit when using `max_tokens` or `max_tokens_per_page`.",
                "type": "string"
              },
              "max_tokens": {
                "description": "Maximum total webpage content tokens to return across all search results",
                "maximum": 1000000,
                "minimum": 1,
                "type": "integer"
              },
              "max_tokens_per_page": {
                "description": "Maximum webpage content tokens to extract from each result page",
                "maximum": 1000000,
                "minimum": 1,
                "type": "integer"
              },
              "query": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                ],
                "title": "Query",
                "description": "Search query (required)"
              },
              "search_language_filter": {
                "description": "ISO 639-1 language codes (2-character max)",
                "items": {
                  "maxLength": 2,
                  "minLength": 2,
                  "type": "string"
                },
                "maxItems": 20,
                "type": "array"
              }
            },
            "required": [
              "query"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/SearchDomainFilter"
          },
          {
            "$ref": "#/components/schemas/DateFilters"
          }
        ],
        "type": "object",
        "title": "ApiSearchRequest"
      },
      "ApiSearchResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/ApiSearchPage"
            },
            "type": "array",
            "title": "Results"
          },
          "id": {
            "type": "string",
            "title": "Id"
          },
          "server_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Server Time"
          }
        },
        "type": "object",
        "required": [
          "results",
          "id"
        ],
        "title": "ApiSearchResponse"
      },
      "AsyncApiChatCompletionsRequest": {
        "description": "Request body for creating an asynchronous chat completion",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/ApiChatCompletionsRequest",
            "description": "The chat completion request to execute asynchronously"
          },
          "idempotency_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Idempotency Key",
            "description": "Unique key to prevent duplicate requests"
          }
        },
        "type": "object",
        "required": [
          "request"
        ],
        "title": "AsyncApiChatCompletionsRequest"
      },
      "AsyncApiChatCompletionsResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for the async request"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model used for the request"
          },
          "created_at": {
            "type": "integer",
            "title": "Created At",
            "description": "Unix timestamp when the request was created"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At",
            "description": "Unix timestamp when processing started"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "Unix timestamp when processing completed"
          },
          "response": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CompletionResponse"
              },
              {
                "type": "null"
              }
            ]
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed At",
            "description": "Unix timestamp when the request failed (if applicable)"
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Error message if the request failed"
          },
          "status": {
            "$ref": "#/components/schemas/AsyncProcessingStatus",
            "description": "Current processing status of the request"
          }
        },
        "type": "object",
        "required": [
          "id",
          "model",
          "created_at",
          "status"
        ],
        "title": "AsyncApiChatCompletionsResponse"
      },
      "AsyncApiChatCompletionsResponseSummary": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "created_at": {
            "type": "integer",
            "title": "Created At"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed At"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "status": {
            "$ref": "#/components/schemas/AsyncProcessingStatus"
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "model",
          "status"
        ],
        "title": "AsyncApiChatCompletionsResponseSummary"
      },
      "AsyncProcessingStatus": {
        "type": "string",
        "enum": [
          "CREATED",
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED"
        ],
        "title": "AsyncProcessingStatus",
        "description": "Status enum for async processing."
      },
      "ChatMessage-Input": {
        "properties": {
          "role": {
            "$ref": "#/components/schemas/ChatMessageRole"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatMessageContentTextChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentImageChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentFileChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentPDFChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentVideoChunk"
                    }
                  ]
                },
                "type": "array",
                "title": "Structured Content"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "ChatMessage"
      },
      "ChatMessage-Output": {
        "properties": {
          "role": {
            "$ref": "#/components/schemas/ChatMessageRole"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatMessageContentTextChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentImageChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentFileChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentPDFChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentVideoChunk"
                    }
                  ]
                },
                "type": "array",
                "title": "Structured Content"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "ChatMessage"
      },
      "ChatMessageContentFileChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "file_url",
            "title": "Type"
          },
          "file_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/URL"
              },
              {
                "type": "string"
              }
            ],
            "title": "File Url"
          },
          "file_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Name"
          }
        },
        "type": "object",
        "required": [
          "type",
          "file_url"
        ],
        "title": "ChatMessageContentFileChunk"
      },
      "ChatMessageContentImageChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "image_url",
            "title": "Type"
          },
          "image_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/URL"
              },
              {
                "type": "string"
              }
            ],
            "title": "Image Url"
          }
        },
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "title": "ChatMessageContentImageChunk"
      },
      "ChatMessageContentPDFChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "pdf_url",
            "title": "Type"
          },
          "pdf_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/URL"
              },
              {
                "type": "string"
              }
            ],
            "title": "Pdf Url"
          }
        },
        "type": "object",
        "required": [
          "type",
          "pdf_url"
        ],
        "title": "ChatMessageContentPDFChunk"
      },
      "ChatMessageContentTextChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type"
          },
          "text": {
            "type": "string",
            "title": "Text"
          }
        },
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "title": "ChatMessageContentTextChunk"
      },
      "ChatMessageContentVideoChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "video_url",
            "title": "Type"
          },
          "video_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VideoURL"
              },
              {
                "type": "string"
              }
            ],
            "title": "Video Url"
          }
        },
        "type": "object",
        "required": [
          "type",
          "video_url"
        ],
        "title": "ChatMessageContentVideoChunk"
      },
      "ChatMessageRole": {
        "type": "string",
        "enum": [
          "system",
          "user",
          "assistant",
          "tool"
        ],
        "title": "ChatMessageRole",
        "description": "Chat roles enum"
      },
      "Choice": {
        "description": "A single completion choice",
        "properties": {
          "index": {
            "type": "integer",
            "title": "Index",
            "description": "Index of the choice in the array"
          },
          "finish_reason": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "stop",
                  "length"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Finish Reason",
            "description": "Reason generation stopped (stop or length)"
          },
          "message": {
            "$ref": "#/components/schemas/ChatMessage-Output",
            "description": "Complete message (non-streaming)"
          },
          "delta": {
            "$ref": "#/components/schemas/ChatMessage-Output",
            "description": "Incremental message delta (streaming)"
          }
        },
        "type": "object",
        "required": [
          "index",
          "message",
          "delta"
        ],
        "title": "Choice"
      },
      "CompletionResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for the completion"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model used for generation"
          },
          "created": {
            "type": "integer",
            "title": "Created",
            "description": "Unix timestamp when the completion was created"
          },
          "usage": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UsageInfo"
              },
              {
                "type": "null"
              }
            ]
          },
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type identifier",
            "default": "chat.completion"
          },
          "choices": {
            "items": {
              "$ref": "#/components/schemas/Choice"
            },
            "type": "array",
            "title": "Choices",
            "description": "Array of completion choices"
          },
          "citations": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citations",
            "description": "URLs of sources used to generate the response"
          },
          "search_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ApiPublicSearchResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Results",
            "description": "Search results used for context in the response"
          },
          "images": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ImageResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Images",
            "description": "Array of images returned when return_images is true"
          },
          "related_questions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Related Questions",
            "description": "Array of related questions returned when return_related_questions is true"
          }
        },
        "type": "object",
        "required": [
          "id",
          "model",
          "created",
          "choices"
        ],
        "title": "CompletionResponse"
      },
      "CompletionResponseStatus": {
        "description": "Status of a streaming completion response",
        "type": "string",
        "enum": [
          "PENDING",
          "COMPLETED"
        ],
        "title": "CompletionResponseStatus"
      },
      "CompletionResponseType": {
        "description": "Type of a streaming completion response chunk",
        "type": "string",
        "enum": [
          "message",
          "info",
          "end_of_stream"
        ],
        "title": "CompletionResponseType"
      },
      "Cost": {
        "description": "Cost breakdown for a chat completion request",
        "properties": {
          "input_tokens_cost": {
            "type": "number",
            "title": "Input Tokens Cost",
            "description": "Cost for input tokens in USD"
          },
          "output_tokens_cost": {
            "type": "number",
            "title": "Output Tokens Cost",
            "description": "Cost for output tokens in USD"
          },
          "reasoning_tokens_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Tokens Cost",
            "description": "Cost for reasoning tokens in USD"
          },
          "request_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Request Cost",
            "description": "Cost for web search requests in USD (includes pro search cost if applicable)"
          },
          "citation_tokens_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citation Tokens Cost",
            "description": "Cost for citation tokens in USD"
          },
          "search_queries_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Queries Cost",
            "description": "Cost for search queries in USD"
          },
          "total_cost": {
            "type": "number",
            "title": "Total Cost",
            "description": "Total cost for the request in USD"
          }
        },
        "type": "object",
        "required": [
          "input_tokens_cost",
          "output_tokens_cost",
          "total_cost"
        ],
        "title": "Cost"
      },
      "Currency": {
        "description": "Currency code for cost values",
        "enum": [
          "USD"
        ],
        "type": "string"
      },
      "ExecutePythonStepDetails": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code"
          },
          "result": {
            "type": "string",
            "title": "Result"
          }
        },
        "type": "object",
        "required": [
          "code",
          "result"
        ],
        "title": "ExecutePythonStepDetails",
        "description": "Code generation step details wrapper class"
      },
      "FetchUrlContentStepDetails": {
        "properties": {
          "contents": {
            "items": {
              "$ref": "#/components/schemas/ApiPublicSearchResult"
            },
            "type": "array",
            "title": "Contents"
          }
        },
        "type": "object",
        "required": [
          "contents"
        ],
        "title": "FetchUrlContentStepDetails",
        "description": "Fetch url content step details wrapper class"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "JSONSchema": {
        "properties": {
          "schema": {
            "additionalProperties": true,
            "type": "object",
            "title": "Schema"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "default": "schema"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "strict": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Strict",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "schema"
        ],
        "title": "JSONSchema"
      },
      "ListAsyncApiChatCompletionsResponse": {
        "properties": {
          "next_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Token"
          },
          "requests": {
            "items": {
              "$ref": "#/components/schemas/AsyncApiChatCompletionsResponseSummary"
            },
            "type": "array",
            "title": "Requests"
          }
        },
        "type": "object",
        "required": [
          "requests"
        ],
        "title": "ListAsyncApiChatCompletionsResponse"
      },
      "ReasoningStep-Output": {
        "properties": {
          "thought": {
            "type": "string",
            "title": "Thought"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          },
          "web_search": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/WebSearchStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "finance_search": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FinanceSearchStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "people_search": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PeopleSearchStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "fetch_url_content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FetchUrlContentStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "execute_python": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ExecutePythonStepDetails"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "thought"
        ],
        "title": "ReasoningStep",
        "description": "Reasoning step wrapper class"
      },
      "ResponseFormatJSONSchema": {
        "description": "Constrains the model output to match the provided JSON schema.",
        "properties": {
          "type": {
            "type": "string",
            "const": "json_schema",
            "title": "Type",
            "description": "Must be `json_schema`."
          },
          "json_schema": {
            "$ref": "#/components/schemas/JSONSchema"
          }
        },
        "type": "object",
        "required": [
          "type",
          "json_schema"
        ],
        "title": "ResponseFormatJSONSchema"
      },
      "ResponseFormatText": {
        "properties": {
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type",
            "description": "Must be `text`."
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "ResponseFormatText"
      },
      "ToolCall": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "const": "function"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          },
          "function": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ToolCallFunction"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "title": "ToolCall"
      },
      "ToolCallFunction": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "arguments": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Arguments"
          }
        },
        "type": "object",
        "title": "ToolCallFunction"
      },
      "URL": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "URL"
      },
      "UsageInfo": {
        "description": "Token usage and cost information for a request",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "title": "Prompt Tokens",
            "description": "Number of tokens in the prompt/input"
          },
          "completion_tokens": {
            "type": "integer",
            "title": "Completion Tokens",
            "description": "Number of tokens in the completion/output"
          },
          "total_tokens": {
            "type": "integer",
            "title": "Total Tokens",
            "description": "Total tokens used (prompt + completion)"
          },
          "search_context_size": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Context Size",
            "description": "Size of search context used"
          },
          "citation_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citation Tokens",
            "description": "Number of tokens used for citations"
          },
          "num_search_queries": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Num Search Queries",
            "description": "Number of search queries executed"
          },
          "reasoning_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Tokens",
            "description": "Number of tokens used for reasoning"
          },
          "cost": {
            "$ref": "#/components/schemas/Cost",
            "description": "Cost breakdown for the request"
          }
        },
        "type": "object",
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens",
          "cost"
        ],
        "title": "UsageInfo"
      },
      "UserLocation": {
        "description": "User's geographic location for search personalization",
        "properties": {
          "latitude": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latitude",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Longitude",
            "description": "Longitude coordinate"
          },
          "country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City",
            "description": "City name"
          },
          "region": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region",
            "description": "State or region name"
          }
        },
        "type": "object",
        "title": "UserLocation"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "VideoURL": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          },
          "frame_interval": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Frame Interval",
            "default": 25
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "VideoURL"
      },
      "WebSearchOptions": {
        "description": "Configuration options for web search behavior",
        "properties": {
          "search_context_size": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "title": "Search Context Size",
            "description": "Amount of search context to include (low, medium, or high)",
            "default": "low"
          },
          "search_type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "fast",
                  "pro",
                  "auto"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Type",
            "description": "Search type (fast for speed, pro for quality, auto to let the model decide)"
          },
          "user_location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UserLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "image_results_enhanced_relevance": {
            "type": "boolean",
            "title": "Image Results Enhanced Relevance",
            "description": "When true, applies enhanced relevance filtering to image results",
            "default": false
          }
        },
        "type": "object",
        "title": "WebSearchOptions"
      },
      "ResponsesRequest": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "instructions": {
            "description": "System instructions for the model",
            "type": "string"
          },
          "language_preference": {
            "description": "ISO 639-1 language code for response language",
            "type": "string"
          },
          "max_output_tokens": {
            "description": "Maximum tokens to generate",
            "format": "int32",
            "minimum": 1,
            "type": "integer"
          },
          "max_steps": {
            "description": "Maximum number of research loop steps.\nIf provided, overrides the preset's max_steps value.\nMust be >= 1 if specified. Maximum allowed is 10.\n",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer"
          },
          "model": {
            "description": "Model ID in provider/model format (e.g., \"openai/gpt-5\", \"anthropic/claude-sonnet-4-6\").\nIf models is also provided, models takes precedence.\nRequired if neither models nor preset is provided.\n",
            "type": "string"
          },
          "models": {
            "description": "Model fallback chain. Each model is in provider/model format.\nModels are tried in order until one succeeds.\nMax 5 models allowed. If set, takes precedence over single model field.\nThe response.model will reflect the model that actually succeeded.\n",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "minItems": 1,
            "type": "array"
          },
          "preset": {
            "description": "Preset configuration name (e.g., \"fast-search\", \"pro-search\", \"deep-research\").\nPre-configured model with system prompt and search parameters.\nRequired if model is not provided.\n",
            "type": "string"
          },
          "reasoning": {
            "$ref": "#/components/schemas/ReasoningConfig"
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "store": {
            "description": "OpenAI-compatible storage toggle. Accepted for request compatibility; the echoed response always reports `store: true`.",
            "type": "boolean"
          },
          "stream": {
            "description": "If true, returns SSE stream instead of JSON",
            "type": "boolean"
          },
          "tools": {
            "description": "Tools available to the model",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "type": "array"
          }
        },
        "required": [
          "input"
        ],
        "type": "object",
        "title": "ResponsesRequest"
      },
      "ResponsesResponse": {
        "description": "Non-streaming response returned when stream is false",
        "properties": {
          "created_at": {
            "description": "Unix timestamp when the response was created",
            "format": "int64",
            "type": "integer"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorInfo",
            "description": "Error details if the response failed"
          },
          "id": {
            "description": "Unique identifier for the response",
            "type": "string"
          },
          "model": {
            "description": "Model used for generation",
            "type": "string"
          },
          "object": {
            "$ref": "#/components/schemas/ResponsesObjectType",
            "description": "Object type identifier"
          },
          "output": {
            "description": "Array of output items (messages, search results, tool calls)",
            "items": {
              "$ref": "#/components/schemas/OutputItem"
            },
            "type": "array"
          },
          "status": {
            "$ref": "#/components/schemas/Status",
            "description": "Status of the response"
          },
          "usage": {
            "$ref": "#/components/schemas/ResponsesUsage",
            "description": "Token usage and cost information"
          }
        },
        "required": [
          "id",
          "object",
          "created_at",
          "status",
          "model",
          "output"
        ],
        "type": "object",
        "title": "ResponsesResponse"
      },
      "ResponsesObjectType": {
        "description": "Object type in API responses",
        "enum": [
          "response"
        ],
        "type": "string",
        "title": "ResponsesObjectType"
      },
      "ResponsesUsage": {
        "description": "Token usage and cost information for a Responses API request",
        "properties": {
          "cost": {
            "$ref": "#/components/schemas/ResponsesCost",
            "description": "Cost breakdown for the request"
          },
          "input_tokens": {
            "description": "Number of input tokens used",
            "format": "int64",
            "type": "integer"
          },
          "input_tokens_details": {
            "properties": {
              "cache_creation_input_tokens": {
                "description": "Tokens used for cache creation",
                "format": "int64",
                "type": "integer"
              },
              "cache_read_input_tokens": {
                "description": "Tokens read from cache",
                "format": "int64",
                "type": "integer"
              }
            },
            "type": "object"
          },
          "output_tokens": {
            "description": "Number of output tokens generated",
            "format": "int64",
            "type": "integer"
          },
          "tool_calls_details": {
            "description": "Details about tool call invocations",
            "additionalProperties": {
              "$ref": "#/components/schemas/ToolCallDetails"
            },
            "type": "object"
          },
          "total_tokens": {
            "description": "Total tokens used (input + output)",
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "input_tokens",
          "output_tokens",
          "total_tokens"
        ],
        "type": "object",
        "title": "ResponsesUsage"
      },
      "ResponsesCost": {
        "description": "Cost breakdown for a Responses API request",
        "properties": {
          "cache_creation_cost": {
            "description": "Cost for cache creation in USD",
            "format": "double",
            "type": "number"
          },
          "cache_read_cost": {
            "description": "Cost for cache reads in USD",
            "format": "double",
            "type": "number"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Currency of the cost values"
          },
          "input_cost": {
            "description": "Cost for input tokens in USD",
            "format": "double",
            "type": "number"
          },
          "output_cost": {
            "description": "Cost for output tokens in USD",
            "format": "double",
            "type": "number"
          },
          "tool_calls_cost": {
            "description": "Cost for tool call invocations in USD",
            "format": "double",
            "type": "number"
          },
          "total_cost": {
            "description": "Total cost for the request in USD",
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "currency",
          "input_cost",
          "output_cost",
          "total_cost"
        ],
        "type": "object",
        "title": "ResponsesCost"
      },
      "Input": {
        "description": "Input content - either a string or array of input items",
        "oneOf": [
          {
            "title": "StringInput",
            "type": "string"
          },
          {
            "items": {
              "$ref": "#/components/schemas/InputItem"
            },
            "title": "InputItemArray",
            "type": "array"
          }
        ],
        "title": "Input"
      },
      "InputItem": {
        "discriminator": {
          "mapping": {
            "function_call": "#/components/schemas/FunctionCallInput",
            "function_call_output": "#/components/schemas/FunctionCallOutputInput",
            "message": "#/components/schemas/InputMessage"
          },
          "propertyName": "type"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/InputMessage"
          },
          {
            "$ref": "#/components/schemas/FunctionCallOutputInput"
          },
          {
            "$ref": "#/components/schemas/FunctionCallInput"
          }
        ],
        "title": "InputItem"
      },
      "InputMessage": {
        "properties": {
          "content": {
            "$ref": "#/components/schemas/InputContent"
          },
          "role": {
            "enum": [
              "user",
              "assistant",
              "system",
              "developer"
            ],
            "type": "string"
          },
          "type": {
            "enum": [
              "message"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "role",
          "content"
        ],
        "type": "object",
        "title": "InputMessage"
      },
      "InputContent": {
        "description": "Message content - either a string or array of content parts",
        "oneOf": [
          {
            "title": "StringContent",
            "type": "string"
          },
          {
            "items": {
              "$ref": "#/components/schemas/InputContentPart"
            },
            "title": "ContentPartArray",
            "type": "array"
          }
        ],
        "title": "InputContent"
      },
      "InputContentPart": {
        "properties": {
          "image_url": {
            "maxLength": 2048,
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "type": {
            "enum": [
              "input_text",
              "input_image"
            ],
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object",
        "title": "InputContentPart"
      },
      "OutputItem": {
        "discriminator": {
          "mapping": {
            "fetch_url_results": "#/components/schemas/FetchUrlResultsOutputItem",
            "finance_results": "#/components/schemas/FinanceResultsOutputItem",
            "function_call": "#/components/schemas/FunctionCallOutputItem",
            "message": "#/components/schemas/MessageOutputItem",
            "people_search_results": "#/components/schemas/PeopleSearchResultsOutputItem",
            "sandbox_results": "#/components/schemas/SandboxResultsOutputItem",
            "search_results": "#/components/schemas/SearchResultsOutputItem",
            "mcp_list_tools": "#/components/schemas/McpListToolsOutputItem",
            "mcp_call": "#/components/schemas/McpCallOutputItem"
          },
          "propertyName": "type"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/MessageOutputItem"
          },
          {
            "$ref": "#/components/schemas/SearchResultsOutputItem"
          },
          {
            "$ref": "#/components/schemas/FetchUrlResultsOutputItem"
          },
          {
            "$ref": "#/components/schemas/FinanceResultsOutputItem"
          },
          {
            "$ref": "#/components/schemas/PeopleSearchResultsOutputItem"
          },
          {
            "$ref": "#/components/schemas/FunctionCallOutputItem"
          },
          {
            "$ref": "#/components/schemas/SandboxResultsOutputItem"
          },
          {
            "$ref": "#/components/schemas/McpListToolsOutputItem"
          },
          {
            "$ref": "#/components/schemas/McpCallOutputItem"
          }
        ],
        "title": "OutputItem"
      },
      "MessageOutputItem": {
        "properties": {
          "content": {
            "items": {
              "$ref": "#/components/schemas/ContentPart"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/RoleType"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "type": {
            "enum": [
              "message"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "status",
          "role",
          "content"
        ],
        "type": "object",
        "title": "MessageOutputItem"
      },
      "SearchResultsOutputItem": {
        "properties": {
          "queries": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "type": "array"
          },
          "type": {
            "enum": [
              "search_results"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "results"
        ],
        "type": "object",
        "title": "SearchResultsOutputItem"
      },
      "FetchUrlResultsOutputItem": {
        "properties": {
          "contents": {
            "items": {
              "$ref": "#/components/schemas/UrlContent"
            },
            "type": "array"
          },
          "type": {
            "enum": [
              "fetch_url_results"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "type": "object",
        "title": "FetchUrlResultsOutputItem"
      },
      "SandboxResultsOutputItem": {
        "description": "Result of a sandbox tool invocation. Contains the executed code and its output.",
        "properties": {
          "type": {
            "enum": [
              "sandbox_results"
            ],
            "type": "string"
          },
          "code": {
            "description": "The code that was executed inside the sandbox.",
            "type": "string"
          },
          "stdout": {
            "description": "Standard output captured from the sandbox execution.",
            "type": "string"
          },
          "stderr": {
            "description": "Standard error captured from the sandbox execution.",
            "type": "string"
          },
          "exit_code": {
            "description": "Process exit code. Non-zero indicates a runtime error.",
            "format": "int32",
            "type": "integer"
          },
          "duration_ms": {
            "description": "Wall-clock duration of the sandbox execution, in milliseconds.",
            "format": "int64",
            "type": "integer"
          },
          "status": {
            "description": "Execution status. One of `completed`, `timed_out`, `failed`.",
            "enum": [
              "completed",
              "timed_out",
              "failed"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "status"
        ],
        "type": "object",
        "title": "SandboxResultsOutputItem"
      },
      "FinanceResultsOutputItem": {
        "description": "Intermediate output item emitted when the finance_search tool runs. One item is emitted per tool invocation; the requested categories and tickers are echoed at the envelope level alongside the per-result entries.",
        "properties": {
          "categories": {
            "description": "Finance categories the tool was asked to retrieve for this invocation (for example, \"quote\").",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "results": {
            "description": "Structured finance results returned for the invocation.",
            "items": {
              "$ref": "#/components/schemas/FinanceResult"
            },
            "type": "array"
          },
          "tickers": {
            "description": "Ticker symbols the tool was asked to retrieve for this invocation.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "enum": [
              "finance_results"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "results"
        ],
        "type": "object",
        "title": "FinanceResultsOutputItem"
      },
      "PeopleSearchResultsOutputItem": {
        "description": "Intermediate output item emitted when the people_search tool runs. Mirrors the shape of search_results: the agent's generated queries plus a list of per-person result entries.",
        "properties": {
          "queries": {
            "description": "Search queries the agent generated for this people_search invocation.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "results": {
            "description": "Per-person result entries. Shape matches SearchResult (id, url, title, snippet, source, last_updated).",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "type": "array"
          },
          "type": {
            "enum": [
              "people_search_results"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "results"
        ],
        "type": "object",
        "title": "PeopleSearchResultsOutputItem"
      },
      "ContentPart": {
        "properties": {
          "annotations": {
            "items": {
              "$ref": "#/components/schemas/Annotation"
            },
            "type": "array"
          },
          "text": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ContentPartType"
          }
        },
        "required": [
          "type",
          "text"
        ],
        "type": "object",
        "title": "ContentPart"
      },
      "ContentPartType": {
        "description": "Type of a content part",
        "enum": [
          "output_text"
        ],
        "type": "string",
        "title": "ContentPartType"
      },
      "Annotation": {
        "description": "Text annotation (URL citation)",
        "properties": {
          "end_index": {
            "description": "End character index of the annotated text",
            "format": "int32",
            "type": "integer"
          },
          "start_index": {
            "description": "Start character index of the annotated text",
            "format": "int32",
            "type": "integer"
          },
          "title": {
            "description": "Title of the cited source",
            "type": "string"
          },
          "type": {
            "description": "Annotation type (url_citation)",
            "type": "string"
          },
          "url": {
            "description": "URL of the cited source",
            "type": "string"
          }
        },
        "type": "object",
        "title": "Annotation"
      },
      "SearchResult": {
        "description": "A single search result used in LLM responses",
        "properties": {
          "date": {
            "description": "Publication date of the result",
            "type": "string"
          },
          "id": {
            "description": "Unique numeric identifier for the result",
            "format": "int64",
            "type": "integer"
          },
          "last_updated": {
            "description": "Date the result was last updated",
            "type": "string"
          },
          "snippet": {
            "description": "Text snippet from the search result",
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/SearchSource",
            "description": "Source type of the result"
          },
          "title": {
            "description": "Title of the search result page",
            "type": "string"
          },
          "url": {
            "description": "URL of the search result page",
            "type": "string"
          }
        },
        "required": [
          "id",
          "url",
          "title",
          "snippet"
        ],
        "type": "object",
        "title": "SearchResult"
      },
      "SearchSource": {
        "description": "Source of search results",
        "enum": [
          "web"
        ],
        "type": "string",
        "title": "SearchSource"
      },
      "FinanceResult": {
        "description": "A single structured finance result returned by the finance_search tool.",
        "properties": {
          "category": {
            "description": "Finance category this result belongs to (for example, \"quote\").",
            "type": "string"
          },
          "content": {
            "description": "Structured content for the result, typically a markdown-formatted table or snippet.",
            "type": "string"
          },
          "sources": {
            "description": "Source URLs backing the structured content.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "tickers": {
            "description": "Ticker symbols this result pertains to.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "category",
          "content"
        ],
        "type": "object",
        "title": "FinanceResult"
      },
      "UrlContent": {
        "description": "Content fetched from a URL",
        "properties": {
          "snippet": {
            "description": "The fetched content snippet",
            "type": "string"
          },
          "title": {
            "description": "The title of the page",
            "type": "string"
          },
          "url": {
            "description": "The URL from which content was fetched",
            "type": "string"
          }
        },
        "required": [
          "url",
          "title",
          "snippet"
        ],
        "type": "object",
        "title": "UrlContent"
      },
      "RoleType": {
        "description": "Role in a message",
        "enum": [
          "assistant"
        ],
        "type": "string",
        "title": "RoleType"
      },
      "Status": {
        "description": "Status of a response or output item",
        "enum": [
          "completed",
          "failed",
          "in_progress",
          "requires_action"
        ],
        "type": "string",
        "title": "Status"
      },
      "ErrorInfo": {
        "description": "Error information returned when a request fails",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Human-readable error message",
            "type": "string"
          },
          "type": {
            "description": "Error type category",
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "type": "object",
        "title": "ErrorInfo"
      },
      "ReasoningConfig": {
        "properties": {
          "effort": {
            "description": "How much effort the model should spend on reasoning",
            "enum": [
              "low",
              "medium",
              "high",
              "xhigh",
              "max"
            ],
            "type": "string"
          }
        },
        "type": "object",
        "title": "ReasoningConfig"
      },
      "ResponseFormat": {
        "description": "Specifies the desired output format for the model response",
        "properties": {
          "json_schema": {
            "$ref": "#/components/schemas/JSONSchemaFormat"
          },
          "type": {
            "description": "The type of response format",
            "enum": [
              "json_schema"
            ],
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object",
        "title": "ResponseFormat"
      },
      "JSONSchemaFormat": {
        "description": "Defines a JSON schema for structured output validation",
        "properties": {
          "description": {
            "description": "Optional description of the schema",
            "type": "string"
          },
          "name": {
            "description": "Name of the schema (1-64 alphanumeric chars)",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "schema": {
            "additionalProperties": true,
            "description": "The JSON schema object",
            "type": "object"
          },
          "strict": {
            "description": "Whether to enforce strict schema validation",
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "schema"
        ],
        "type": "object",
        "title": "JSONSchemaFormat"
      },
      "FunctionCallInput": {
        "properties": {
          "arguments": {
            "description": "Function arguments (JSON string)",
            "type": "string"
          },
          "call_id": {
            "description": "The call_id that correlates with function_call_output",
            "type": "string"
          },
          "name": {
            "description": "The function name",
            "type": "string"
          },
          "thought_signature": {
            "description": "Base64-encoded signature for thinking models",
            "type": "string"
          },
          "type": {
            "enum": [
              "function_call"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "call_id",
          "name",
          "arguments"
        ],
        "type": "object",
        "title": "FunctionCallInput"
      },
      "FunctionCallOutputInput": {
        "properties": {
          "call_id": {
            "description": "The call_id from function_call output",
            "type": "string"
          },
          "name": {
            "description": "Function name (required by some providers)",
            "type": "string"
          },
          "output": {
            "description": "Function result (JSON string)",
            "type": "string"
          },
          "thought_signature": {
            "description": "Base64-encoded signature from function_call",
            "type": "string"
          },
          "type": {
            "enum": [
              "function_call_output"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "call_id",
          "output"
        ],
        "type": "object",
        "title": "FunctionCallOutputInput"
      },
      "FunctionCallOutputItem": {
        "properties": {
          "arguments": {
            "description": "JSON string of arguments",
            "type": "string"
          },
          "call_id": {
            "description": "Correlates with function_call_output input",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "thought_signature": {
            "description": "Base64-encoded opaque signature for thinking models",
            "type": "string"
          },
          "type": {
            "enum": [
              "function_call"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "status",
          "name",
          "call_id",
          "arguments"
        ],
        "type": "object",
        "title": "FunctionCallOutputItem"
      },
      "FunctionTool": {
[...]
